# MySQL
MYSQL_HOST=
MYSQL_PORT=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=

# ClickHouse
CH_HOST=
CH_PORT=
CH_DATABASE=
CH_USER=
CH_PASSWORD=

# Sync
TABLES=report_tickets
ID_COLUMN=id
DATE_COLUMN=report_in_day
SKIP_LAST_DAYS=1
BATCH_SIZE=10000

# Daily schedule
TZ=Asia/Phnom_Penh
CRON_HOUR=13
CRON_MINUTE=04

# Logging
LOG_LEVEL=INFO

# State file
STATE_FILE=state.json

# ReplacingMergeTree
# SummingMergeTree
# MergeTree
CH_ENGINE=ReplacingMergeTree

WEBHOOK_ENABLED=true
WEBHOOK_URL=
WEBHOOK_TIMEOUT=30